body{
    background-color: rgb(89, 232, 89);
    padding: 20px;
}
.container{
    width: 170px;
    height: auto;
    border: 1px solid;
    padding: 23px;
    background-color: #fff;
    border-radius: 7px;
}
p{
    color: red;
}